<%- include("partials/header") %>

    <div class="container">
        <div class="row mt-4">
            <div class="col-6 show_image-container">
                <img src="<%= recipe.image %>">
            </div>
            <div class="col-6 show_details-container">
                <h1><%= recipe.recipeName %></h1>
                <p><%= recipe.description %></p>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Meal Type</th>
                            <td><%= recipe.mealType %></td>
                        </tr>
                        <tr>
                            <th scope="row">Ingredients</th>
                            <td><%= recipe.ingredients %></td>
                        </tr>
                        <tr>
                            <th scope="row">Instructions</th>
                            <td><%= recipe.instructions %></td>
                        </tr>
                    </tbody>
                </table>
                <a href="/recipes/<%= recipe._id %>/edit">
                    <button class="btn btn-outline-info btn-lg btn-block mb-2">
                        Edit
                    </button>
                </a>
                <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-outline-danger btn-lg btn-block">
                        Delete
                    </button>
                </form>
            </div>
        </div>
        <div class="row show_comment-header mt-3">
            COMMENT HEADER
        </div>
        <% comments.forEach((comment) => { %>
            <div class="row show_comment-container py-2">
                <div class="col-3">
                    <%= comment.user %>
                </div>
                <div class="col-9">
                    <%= comment.text %>
                </div>
            </div>
        <% }) %>
    </div>

<%- include("partials/footer") %>